.footer{
	background: #444;
	color:#fff;
	text-align: center;
    padding: 10px;
}

body{
	color:#fff;
}
.menu-1{
	height: 60px;
	background: whitesmoke;
}

.slider-1{
	background: white;
	height: 200vh;
	text-align: center;
    color: black;
}
.footer{
	background: whitesmoke;
	color:rgb(0, 0, 0);
	text-align: center;
	padding: 10px;
}
#t{
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
}
#v{
	color: #ec1c44;
	font: oblique bold 120% cursive;
}
		/************
		desplegable
		************/
        #menu ul {
            list-style:none;
            margin:0;
            padding:0;
           }
        
           #menu ul li {
            position:relative;
            float:left;
            margin:0;
            padding:0;
           }
           
           /* efecto al pasar el ratón por las letras del menu */
           
           #menu ul li:hover {
            background: whitesmoke;
           }
           
        #menu ul ul {
            display:none;
            position:absolute;
            top:100%;
            left:0;
            
            padding:0;
           }
           
           
           #menu ul ul li {
            float:none;
            width:150px
           }
           
           #menu ul ul a {
            line-height:120%;
            padding:10px 15px;
           }
           
           #menu ul li:hover > ul {
            display:block;
           }
        /******************
        fin de desplegable
        ******************/
        /*Barra de texto en img.*/


figure{
	margin: 0;
	display: inline-block;
	
	position: relative;
	}
	figure{
        margin: 0;
        display: inline-block;
        
        position: relative;
        }
        
        figcaption{
        color:white;
        display: none;
        background:rgba(0,0,0, 0.7);
        position:absolute;
        left:0px;
        bottom:0px;
        width:100%;
        padding:5%;
        }
        
        figure:hover figcaption{
        display: block;
		}
		.menuCSS3 ul {
			display: flex;
			padding: 0;
			margin: 0;
			list-style: none;
		}
		.j{
			height: 250px;
			width: 200px;
		 }

/* fin de Barra de texto en img.*/
hr {
	height: 2px;
	background-color: black;
  }

   /*titulo de img*/
#a{
	color: black;
	font-family: sans-serif;
			font-weight: bolder;
            
}
/*titulo de img*/

#ll{
    top: 10px;
}

/************
    efecto zoom
    ************/

    .zoom{

        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
    
    }
    
    .zoom:hover{
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        
    }